/* reset */

* {
    margin: 0;
    padding: 0;
    border-sizing: border-box;
}
/* varables */

:root {
    --background: #111;
    --color: #fff;
    --color-dim: rgba(255, 255, 255, 0.171);
    --primary-color: #0095f6;
    --font-small: 14px;
    --font-medium: 18px;
    --font-big: 3rem;
}
/* scrollbar */
::-webkit-scrollbar {
    appearance: none;
    --size: 7px;
    height: var(--size);
    width: var(--size);
    border-radius: var(--font-big);
    background-color: transparent;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    appearance: none;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-dim);
    border-radius: var(--font-big);
    transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color);
}
html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: auto;
    font-family: "Open Sans",sans-serif;
}
/* default document body */
body {
    background-color: var(--background);
    color: var(--color);
    height: 100vh;
}
/* reuse classes */
.__text-center {
    text-align: center;
}
.__center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.__flex {
    display: flex;
}
.__flex.align-center {
    align-items: center;
}
.__flex.wrap {
    flex-wrap: wrap;
}
.__flex.no-wrap {
    flex-wrap: no-wrap;
}
.__flex.column {
    flex-direction: column;
}
.__flex.row {
    flex-direction: row;
}
.place-center {
    place-items: center;
}
.__flex.justify-center {
    justify-content: center;
}
.__flex.justify-around {
    justify-content: space-around;
}
.__flex.justify-between {
    justify-content: space-between;
}
.__flex.justify-evenly {
    justify-content: space-evenly;
}
/******
******
 ***
 **reuse ***
 ******
 ****
 ****classes **
 ***
 ****/
/*****
***********
**END******
***********  */

/* preloader */
.preloader {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: 0.3s;
}
.preloader .loader {
    opacity: 0.1;
    animation: loader-soft 0.6s 0.3s linear infinite forwards;
}
/* loader animation */
@keyframes loader-soft {
    0%{
    opacity: .1;
    }
    50%{
    opacity: .1;
       

    }
    100%{
        opacity: .2;
    }
}

.preloader.active{
    transform: scale(0.8);
    opacity: 0;
    visibility: hidden;
}

/* grid-wrapper */
.grid-wrapper {
    display: grid;
    transform: scale(0.8);
    transition:none 0.3s;
    visibility: hidden;
    grid-template-columns: 1fr 2fr;
}
.grid-wrapper.active {
transform: scale(1);
opacity: 1;
visibility: visible;
}
/* header nav */
.header {
    position: sticky;
    top: 0;
    left: 0;
    background: var(--background);
    width: 100%;
    height: 77px;
    z-index: 99;
    box-shadow: 0 0 10px rgba(42, 42, 42, 0.137);
}

.header .header__left,
.header .header__right {
    margin: 10px;
}
/* profile name @ the header */
.header .profile_name {
    font-size: 18px;
}

.header .--icon {
    padding: 0 20px;
    font-size: 20px;
    cursor: pointer;
}
.header .--icon-s {
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}

/* profile */
.profile {
    position: relative;
    /* overflow-y: auto; */
    padding: 15px;
    width: 350px;
}

.profile .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile .stats > .info {
    margin: 0 14% 0 0;
}
.profile .stats > .info p {
    margin: 4px;
}

.profile .profile-pic {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    margin: 20px 0;
    background-image: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 55%,
        rgba(252, 176, 69, 1) 100%
    );
    border-radius: var(--size);
}

/* profile picture image */
.profile .profile-pic > .dp {
    --size: 100px;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    background: var(--background);
    padding: 3px;
    border-radius: var(--size);
}

.profile .bio {
    padding: 15px 0;
}
.profile .bio a {
    color: var(--primary-color);
    text-decoration: none;
}
.profile .followed-by {
    font-size: 13px;
}
.profile .profile__options .btn {
    padding: 12px;
    border: none;
    cursor: pointer;
    margin: 10px 7px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.082);
    color: var(--color);
}

.profile .profile__options .btn {
  /* font-family: inherit; */
}

.profile .profile__options .btn.active {
    background: var(--primary-color);
}

/* tags */

.tags {
    position: relative;
    user-select: none;
    padding: 10px 0px 30px;
    margin: 0px 0 30px;
    /* width: 500px; */
    display: grid;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.068),transparent,rgba(29, 29, 29, 0.068)); */
    justify-content: center;
    grid-template-columns: repeat(10, 100px);
    grid-column-gap: 10px;
    overflow: hidden;
    /* overflow-x: auto; */
}

.tag img {
    width: 63px;
    height: 63px;
    border-radius: 100%;
    background: var(--color);
    padding: 2px;
    object-fit: cover;
}

.tags .tag {
    background: var(--background);
    font-size: var(--font-small);
    display: flex;
    border-radius: 100%;
    cursor: pointer;
    margin: 30px;
    width: 70px;
    padding: 15px 0;
    height: 70px;
    cursor: pointer;
    transition: 0.3s;
}
.tags .tag:hover {
    transform: translateY(-10px);
}

.tags .tag > p {
    margin: 7px 0;
}

/* posts */
.posts {
    margin-top: 20px;
    /* height: 100vh; */
    overflow-y: auto;
    width: calc(100vw - 400px);
    position: relative;
}
/* post nav */
.posts .posts__nav {
    list-style: none;
    width: 80%;
    margin: auto;
}
.posts .posts__nav span {
    padding: 0 10px;
    display: inline-block;
    font-size: 12px;
}
.posts .posts__nav li {
    display: inline-block;
    word-wrap: unset;
}

.posts .posts__nav a {
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
    color: var(--color);
}
/* active nav */
.posts .posts__nav .active {
    text-decoration: none;
    border-bottom: 3px solid var(--color);
    color: var(--color);
}

.posts .posts__nav a:not(.active) {
    color: var(--color);
    opacity: 0.6;
}
.posts .posts__nav a:not(.active):hover {
    opacity: 1;
}

.posts .posts__posts {
    display: grid;
    grid-gap: 10px 7px;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    margin: 30px 0;
}

.posts .posts__posts .post {
    height: 250px;
    background-color: var(--color-dim);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.4s;
    cursor: pointer;
}

.posts .posts__posts .post:hover {
    transform: scale(0.9);
}

/* bottom nav */
.--user{
    height: 30px;
   width: 30px;
    border-radius: 100px;
    background-color: #fff;
    display: block;
}
.bottom-bar {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    --background: rgba(17, 17, 17, 0.856);
    background-color: var(--background);
    padding: 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.bottom-bar > .bottom-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.bottom-bar > .bottom-icons a {
    text-decoration: none;
    font-size: 22px;
    color: var(--color);
    position: relative;
}
.bottom-bar li {
    position: relative;
    padding: 0 20px;
}
.bottom-bar li .dot{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
background-color: rgb(192, 0, 0);
height:7px;
width: 7px;
border-radius: 100px;
}

.bottom-bar > .bottom-icons .fa {
    padding-bottom: 10px;
}

.popup{
    position: relative;
    transition: 0.3s;
    position: fixed;
    left: 50%;
    width: 100%;
    z-index:  99999991;
    transform: translateX(-50%) translateY(100%);
    bottom:0;
    background-color: #222;
    padding: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: 0.4s;
}
.pop-up-bg{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.609);
    z-index: 9999999;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3;
}
.pop-up-bg.active{
    opacity: 1;
    visibility: visible;
}

.popup.active{
    transform: translateX(-50%) translateY(0%);

}
.pop-up-actions .close{
position: absolute;
top: 10px;
transform: translateX(-50%);
padding: 4px;
border-radius: 30px;
cursor: pointer;
width: 50px;
background: #555;
left: 50%;
}
.pop-up-actions li{
padding: 16px 20px;
user-select: none;
cursor: pointer;
}


/*media queries /*
@media screen and (max-width: 994px) {
    .posts .posts__nav span {
        display: none;
    }
}
@media screen and (max-width: 435px) {
  .logo{
      display: none;
  }
  .header__nav .nav-icons {
    width: 100vw;
    margin: 0;
}
}
@media screen and (max-width: 410px) {
    .header .profile_name{
        font-size: 14px;
        /* white-space: nowrap; */
    }
    
}

@media screen and (max-width: 835px) {
    /* grid-wrapper */
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    .posts {
        margin-top: 20px;
        min-height: 100vh;
        overflow-y: auto;
    }
    .tags {
        width: 90%;
        margin: auto;
    }
    .info{
        display: flex;
        text-align: center;
        width: 200px;
    }
    .info > *{
        margin:0 10px;
    }
    .info span{
        font-size: 13px;
    }
    .profile {
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .posts .posts__nav {
 margin: 20px auto;
    }

    .posts {
        width: 100%;
    }
}

@media screen and (max-width: 1165px) {
/* posts */

.posts .posts__posts {
    grid-template-columns: repeat(3, 150px);
    /* grid-template-rows: repeat(3, 1fr); */
}
.posts .posts__posts .post {
    height: 150px;
}
}

@media screen and (max-width: 500px) {
/* posts */

.posts .posts__posts {
    grid-template-columns: repeat(3, 30%);
    /* grid-template-rows: repeat(3, 1fr); */
}
.posts .posts__posts .post {
    height: 140px;
}
}
@media screen and (max-width:360px) {
/* posts */

.posts .posts__posts {
    grid-template-columns: repeat(3, 30%);
    /* grid-template-rows: repeat(3, 1fr); */
}
.posts .posts__posts .post {
    height: 120px;
}
}
